{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-container d-flex justify-content-center">
    <div class="main-feed">
        {% for image in images %}
        {% include 'index/posts.html' %}
        {% block scripts %}
        {{ block.super }}
        <script>
            $(document).ready(function () {
                let token = "{{csrf_token}}"
                let like_form = $("form#like-form-{{image.id}}")
                let like_icon = $('img#like-icon-' + '{{ image.id }}')
                let like_input = $('input#like-{{ image.id }}')
                $(like_icon).click(function () {
                    $(like_form).submit(function (event) {
                        event.preventDefault()
                        $.ajax({
                            headers: { 'X-CSRFToken': token },
                            type: 'POST',
                            url: '/images/like/',
                            data: {
                                'image_id': parseInt(like_input.val())
                            },
                            'success': function () {
                                let likes = parseInt("{{image.likes}}") + 1
                                let likesOnPage = $('span#likes-no-{{image.id}}')
                                likesOnPage.html(likes)
                                like_icon.attr('src', '{% static 'images/like-red.svg' %}');
                            }
                        })
                    })
                    $(like_form).submit()
                })
            })
        </script>
        {% endblock scripts %}
        {% endfor %}
    </div>
    <div class="main-sidebar flex-fill"></div>
</div>
{% comment %} Image Modal {% endcomment %}
<div class="image-modal">

</div>
{% endblock content %}