{% load static %}
{% load bootstrap4 %}
{% load find_comments %}


<div class="card image-post">
    <div class="card-header d-flex justify-content-between">
        <div>
            <img src="{{ image.profile.profile_photo.url }}" alt="" />
            <span class="font-weight-bold ml-2">{{ image.profile.user.username }}</span>
        </div>
        <div>
            <img src="{% static 'images/three-dots.svg' %}" alt="" />
        </div>
    </div>
    <a href="{% url 'image' image.id %}"><img src="{{ image.image.url }}" class="card-img-top" alt="{{image.image_name}}"/></a>
    <div class="card-body">
        <div class="image-icons d-flex">
            <form id="like-form-{{image.id}}">
                <img src="{% static 'images/like.svg' %}" id="like-icon-{{image.id}}" alt="" class="mr-3" />
                <input type="hidden" id="like-{{ image.id }}" name="like" value="{{ image.id }}">
            </form>

            <img src="{% static 'images/comment.svg' %}" alt="" id="comment-icon-{{image.id}}" />
        </div>
        <div class="likes">
            {% if image.likes == 1 %}
            <span id="likes-no-{{image.id}}">{{image.likes}}</span> like
            {% else %}
            <span id="likes-no-{{image.id}}">{{image.likes}}</span> likes
            {% endif %}
        </div>
        <div class="image-caption">
            <span class="font-weight-bold mr-1">{{image.profile.user.username}}</span>
            <span>{{ image.image_caption }}</span>
        </div>
        <div id="image-{{ image.id }}-comments">
            <a href="{% url 'image' image.id %}" class="view-comments" id="view-comments-{{image.id}}">View all comments</a>

            {% for comment in Comment|by_image_short:image %}
            <div id="comment-{{comment.id}}" class="image-comment">
                <span id="comment-{{comment.id}}-username" class="font-weight-bold mr-1">{{comment.profile.user.username}}</span>
                <span id="comment-{{comment.id}}-comment">{{ comment.comment }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="card-footer">
        <form id="comment-form-{{image.id}}" class="w-100" id="">
            <div class="d-flex justify-content-end">
                <input id="commentField" name="comment" class="flex-fill" type="text" placeholder="Add comment..." required>
                <input class="button" type="submit" value="Post">
            </div>
        </form>
    </div>
</div>